:root {
    /* Colors */
        --clr-primary: #eb2f64;
        --clr-primary-light: #FF3366;
        --clr-primary-dark: #BA265D;

        --clr-grey-100: #faf9f9;
        --clr-grey-200: #f4f2f2;
        --clr-grey-300: #f0eeee;
        --clr-grey-400: #ccc;
        --clr-grey-500: #999;
        --clr-grey-600: #777;
        --clr-grey-700: #333;

        --clr-ntrl-min: #fff;
        --clr-ntrl-max: #000;
}
