.container {
    max-width: 120rem;

    background: var(--clr-grey-200);
    box-shadow: var(--shadow-dark);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 7rem;

    background: var(--clr-ntrl-min);

    font-size: 1.4rem;

    border-bottom: 1px solid var(--clr-grey-200);

    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
        gap: 2rem;
    }

    @media only screen and (max-width: $bp-tiny) {
        justify-content: center;
    }
}

.flex-container {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.nav {
    flex: 0 0 18%;
    align-self: stretch;

    &--dark {
        fill: var(--clr-grey-100);
        color: var(--clr-grey-100);
        background-color: var(--clr-grey-700);
    }

    &__list {
        display: flex;
        gap: .5rem;
        height: 100%;

        &--row {
            flex-direction: row;
        }

        &--column {
            flex-direction: column;

            @media only screen and (max-width: $bp-medium) {
                flex-direction: row;
            }

            @media only screen and (max-width: $bp-xsmall) {
                flex-direction: column;
            }
        }

        &--md-space-top {
            padding-top: 3.5rem;

            @media only screen and (max-width: $bp-medium) {
                padding-top: 0;
            }
        }

        &--description {
            flex-wrap: wrap;
            gap: .7rem 0;

            margin: 3rem 0;
            padding: 3rem 0;

            border-top: 1px solid var(--clr-grey-200);
            border-bottom: 1px solid var(--clr-grey-200);

            & > * { //item
                display: flex;
                align-items: center;
                gap: .5rem;
                flex: 0 0 50%;

                &::before  {
                    content: '';

                    display: inline-block;

                    width: 1rem;
                    height: 1rem;

                    background: var(--clr-primary);
                    mask-image: url("../img/chevron-thin-right.svg");
                    mask-size: cover;
                }

                @media only screen and (max-width: $bp-medium) {
                    flex: 0 0 50% !important;
                    justify-content: start !important;
                }

            }

            @media only screen and (max-width: $bp-tiny) {
                flex-direction: column;
            }
        }
    }

    &__item {
        position: relative;

        list-style: none;
        isolation: isolate;

        &--end-column {
            margin-top: auto;
        }

        &--pink-animation {
            &::before {
                content: '';

                position: absolute;
                inset: 0;

                width: 3px;

                background: var(--clr-primary);

                z-index: -1;
                transform: scaleY(0);
                transition:
                    transform .2s,
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;
            }

            &:hover::before {
                transform: scaleY(1);
                width: 100%;
            }

            &:active::before {
                background: var(--clr-primary-light);
            }
        }

        &--active {
            &::before {
                transform: scaleY(1);
                width: 100%;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
    }

    &__item:has(.copyright) { /* remove component copyright */
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__link {
        &--big-space {
            padding: 1.5rem 3rem;
        }

        &--upper {
            text-transform: uppercase;
        }
    }

    &__link:link,
    &__link:visited {
        display: block;

        fill: inherit;
        color: inherit;

        text-decoration: none;
    }
}

.main {
    background: var(--clr-ntrl-min);
}

.details {
    display: flex;
    gap: 4.5rem;

    padding: 4.5rem;

    background: var(--clr-grey-100);

    font-size: 1.4rem;

    border-bottom: 1px solid var(--clr-grey-200);
}

.description-box {
    flex: 0 0 60%;

    padding: 3rem;

    box-shadow: var(--shadow-dark-xsm);
}

.testimonials-box {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    flex: 1;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    padding: 3.5rem 0;
}