:root {
  /* Colors */
  --clr-primary: #eb2f64;
  --clr-primary-light: #FF3366;
  --clr-primary-dark: #BA265D;
  --clr-grey-100: #faf9f9;
  --clr-grey-200: #f4f2f2;
  --clr-grey-300: #f0eeee;
  --clr-grey-400: #ccc;
  --clr-grey-500: #999;
  --clr-grey-600: #777;
  --clr-grey-700: #333;
  --clr-ntrl-min: #fff;
  --clr-ntrl-max: #000;
  /* Shadows */
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  min-height: 100vh;
  min-height: 100dvh;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--clr-grey-600);
  background: linear-gradient(to right bottom, var(--clr-primary-light), var(--clr-primary-dark));
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  margin-left: 2rem;
  max-height: 3.25rem; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%; }
  .search__input {
    width: 90%;
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    color: inherit;
    background: var(--clr-grey-200);
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 100px;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background: var(--clr-grey-300); }
    .search__input::-webkit-input-placeholder {
      color: var(--clr-grey-400);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background: var(--clr-grey-300); }
  .search__button {
    background: var(--clr-grey-200);
    border: none;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    max-width: 2rem;
    max-height: 2rem;
    fill: var(--clr-grey-500); }

.container {
  max-width: 120rem;
  background: var(--clr-grey-200);
  box-shadow: var(--shadow-dark); }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7rem;
  background: var(--clr-ntrl-min);
  font-size: 1.4rem;
  border-bottom: 1px solid var(--clr-grey-200); }
